ktor:
  application:
    modules:
      - org.company.backend.ApplicationKt.module
  deployment:
    port: 8080
jwt:
  domain: "https://jwt-provider-domain/"
  audience: "jwt-audience"
  realm: "ktor sample app"
  secret: "default-secret-change-in-production"
